.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html{
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.MuiCard-root{
    margin-top: 2em;
    /* margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em; */
}

.MuiCardContent-root{
    background-color: white !important;

}

.mContainer{
    padding-top: 1em;
}

.mPaper{
    background-color: rgb(235, 235, 235) !important;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;

}